{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "printWidth": 100,
  "semi": true,
  "useTabs": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "importOrder": [
    "^(@nestjs/(.*)$)|^(@nestjs$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@libs/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ]
}