<html lang='en' xmlns:v='urn:schemas-microsoft-com:vml'>
	<head>
		<meta charset='utf-8' />
		<meta name='x-apple-disable-message-reformatting' />
		<meta http-equiv='x-ua-compatible' content='ie=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta name='format-detection' content='telephone=no, date=no, address=no, email=no' />
		<meta name='color-scheme' content='light dark' />
		<meta name='supported-color-schemes' content='light dark' />
		<!--[if mso]>
      <noscript>
        <xml>
          <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
            <o:PixelsPerInch>96</o:PixelsPerInch>
          </o:OfficeDocumentSettings>
        </xml>
      </noscript>
    <![endif]-->
		<title>Confirm your email</title>
	</head>
	<body>
		<p>Hi {{name}},</p>
		<p>Congratulations! You have successfully registered.</p>
		<p> Please, click the link below to confirm your email</p>
		<a href='{{link}}'>Confirm Email</a>
	</body>
</html>